@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #3463db, #295bb9); /* Blue Gradient */
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.screen {
    background: linear-gradient(90deg, #ffffff, #ffffff); /* Blue Gradient */
    position: relative;
    height: 600px;
    width: 360px;
    border-radius: 30px;
    box-shadow: 0px 0px 24px #f9f9f948; /* Darker Blue Shadow */
}

.screen__content {
    z-index: 1;
    border-radius: 30px;
    position: relative;
    height: 100%;
}

.screen__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    border-radius: 30px;
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
    border-radius: 30px;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;
    top: -50px;
    right: 120px;
    border-radius: 30px;
    /* border-radius: 30px 30px 30px 30px; */
}

.screen__background__shape2 {
    height: 190px;
    width: 240px;
    background: #22cb22; /* Blue Background */
    top: -172px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 170px;
    background: linear-gradient(270deg, #dbd534, #ffe606); /* Blue Gradient */
    top: -24px;
    right: 0;
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 400px;
    width: 200px;
    background: #db1010;
    top: 420px;
    right: 50px;
    border-radius: 60px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;
    position: relative;
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #78b1B5;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1b1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 75%;
    transition: .2s;
    color: #000000; 
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6Ab19E;
}

.login__submit {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4b1E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #3498db; /* Blue Text */
    box-shadow: 0px 2px 2px #2980b9; /* Darker Blue Shadow */
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #6Ab19E;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #0097a1;
}

.social-login {
    position: absolute;
    height: 140px;
    width: 160px;
    text-align: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0px 0px 8px #78b1B5;
}

.social-login__icon:hover {
    transform: scale(1.5);
}
/* styles.css */

ul.flashes {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  ul.flashes p {
    background-color: #f8d7da; /* Red background color for error messages */
    color: #721c24; /* Text color for error messages */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f5c6cb; /* Border color for error messages */
    border-radius: 4px;
  }
  
  /* Add styles for success messages if needed */
  ul.flashes p.success {
    background-color: #d4edda; /* Green background color for success messages */
    color: #155724; /* Text color for success messages */
    border-color: #c3e6cb; /* Border color for success messages */
  }
  