@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

:root {
    /* --clr-bg: #242524;
    --clr-bg-active: #aeb5c2;
    --clr-txt: #fff;
    --clr-txt-sub: #FAD1EF;
    --clr-bg-group: #000; */

    --clr-bg: #3b7ff6;
    --clr-bg-active: #aeb5c2;
    --clr-txt: #000000;
    --clr-txt-sub: #544c4c;
    --clr-bg-group: #fff;

    --time: 250ms;
}

* {
    font-family: Raleway, sans-serif;

}

footer {
    text-align: center;
}

body {
    background: var(--clr-bg);
    color: var(--clr-txt);
}

main {

    width: 90%;
    /* Set a width for the main content */
    margin-left: auto;
    /* Automatically adjust the left margin */
    margin-right: auto;
    /* Automatically adjust the right margin */
    /* You can also add padding if needed */
    padding: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    /* text-shadow: 0 .1ch .1rem var(--clr-txt-shadow); */
    text-align: left;
    margin-left: .5rem;
    padding-left: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.group {
    background: var(--clr-bg-group);
    border-radius: 2rem;
    margin: 1rem;
}

#search-settings {
    position: sticky;
    top: 2rem;
}



/* .group-con:first-child {
    border-radius: 2rem 2rem 0px 0px;
}

.group-con:last-child {
    border-radius: 0px 0px 2rem 2rem;
} */

.group-con {
    border-radius: 2rem 2rem 2rem 2rem;
    cursor: pointer;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1rem 1fr;
    /* grid-gap: 3rem; */
    align-items: center;
    background-color: transparent;
    transition: background-color var(--time) ease-in-out;
}

.group-con:hover,
.group-con:focus-within {
    background-color: var(--clr-bg-active);
    color: var(--clr-txt);
}


.icon {
    margin-left: 1rem;
    width: 100%;
    display: grid;
}

.icon img {
    max-width: 100%;
    height: auto;
    margin: auto;
}

search {
    margin: auto 0;
    height: calc(100% + 1rem);
}

search input[type="search"] {
    border: 1px solid transparent;
    width: 100%;
    font-size: .9rem;
    margin: auto 0;
}

.contents {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}

.contents-title,
.contents-sub {
    user-select: none;
}

.contents-title {
    font-size: 1.2rem;
    font-weight: 400;
    /* text-shadow: 0 .1ch .1rem var(--clr-txt-shadow); */
}

.contents-sub {
    font-size: .8rem;
    font-weight: 100;
    color: var(--clr-txt-sub);
}


@media(prefers-color-scheme: dark) {
    :root {
        --clr-bg: #222;
        --clr-txt: #fff;
        --clr-txt-hl: #eee;
        --clr-tit-bg: #667;
        --clr-txt-sub: #fce;
        --clr-bg-group: #000;
        --clr-txt-shadow: rgba(200, 200, 200, .7);
    }

    .icon img {
        filter: invert(100%);
    }

    .group-con:hover,
    .group-con:focus-within {
        background-color: var(--clr-tit-bg);
    }

    .group-con:hover>.contents-sub,
    .group-con:focus-within>.contents-sub {
        color: var(--clr-txt-hl);
    }
}

.large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo .large-header {
    background-color: #000000;
}


.contdainer {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    /* height: 100vh;           Full viewport height */
    height: 16vh;
}

.content {
    text-align: center;      /* Centers the text inside the content */
}

h1 {
    font-size: 6em;        /* Adjust as needed */
}

.thin {
    font-weight: 3000;        /* Add any styling for the "thin" class */
    font-size: 8rem;
}


.game-board {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}

body {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}