<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rank Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='rank_data.css') }}">
</head>

<body>
    <div class="text-center my-4">
    </div>

    <caption>
        <h1 style="text-align:center; padding: 2rem;">{{ target }}</h1>
    </caption>
    <div class="container">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Clustering</th>
                        <!-- <th>Final Rank</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for row in category %}
                    <tr>
                        <td>
                            <a href="{{ url_for('cluster_data_downlaod', target=row) }}">{{ row }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


    </div>

</body>

</html>