<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prophet Forecast</title>
</head>

<body>
    <h1>Prophet Forecast</h1>

    <!-- Form to input dates -->
    <form action="{{ url_for('old_routes.dynamic_time_series', target=target) }}" method="get">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
        <input type="submit" value="Submit">
    </form>

    <h2>Interactive Plotly Forecast</h2>
    <div>
        {{ plotly_plot | safe }}
    </div>

    <h2>Matplotlib Forecast Components</h2>
    <img src="{{ url_for('old_routes.plot_png', target=target, start_date=request.args.get('start_date', '2024-08-15'), end_date=request.args.get('end_date', '2024-10-31')) }}"
        alt="Matplotlib Forecast Components">
</body>

</html>